/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* normalize css ends here */

html {
  font-family: Arial, sans-serif;
  color: #222;
}

body {
  width: 350px;
  height: 500px;
  font-size: 16px;

  background: #16181a;
  color: #fcfcfc;
}

.topnav {
  padding: 10px 10px 5px;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-direction: row;
  text-align: left;
  flex-wrap: nowrap;
  align-content: center;

  border-bottom: 2px solid #222222;
}

.topnav div {
  flex-grow: 1;
}

.app {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}

.container {
  padding: 20px;
}

.badge {
  border-radius: 27px;
  font-size: 0.7rem;
  line-height: 0.7rem;
  padding: 3px;
  width: fit-content;
  margin: auto;
}

.bg-primary {
  color: white;
  background: deepskyblue;
  font-weight: bold;
}

.bg-secondary {
  color: white;
  background: rgba(0,0,0,0.3);
  font-weight: bold;
}


.footer {
  border-top: 2px solid #222;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #16181a;
  color: white;
  text-align: center;
  padding: 10px;
}

.token-container {
  min-height: 50%;
  /*background: rgba(0, 0, 0, 0.15);*/
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.be-1 {
  border-right: 1px solid #222;
  cursor: pointer;
}

.footer-link * {
  pointer-events: none;
}

.footer-link {
  color: gray;
  font-weight: bold;
  transition: all 0.1s ease-out;
}

.footer-link:hover {
  color: white;
}


#app {
  padding: 10px;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-bottom: 45px;
}

#app::-webkit-scrollbar {
  display: none;
}

.login-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.connection_status {
  float: right;
  margin-right: 1em;
  font-weight: bold;
}

.token-img {
  max-width: 40px;
  /*max-height: 40px;*/
}

.nft-card-container, .plugin-card-container {
  position: relative;
  height: 150px;
  overflow: hidden;
  transition: all 0.2s ease;
}

.plugin-card-container {
  height: 100px;
}

.plugin-card-container .nft-card {
  transform: scale(1.1);
}

.nft-card-container:hover, .plugin-card-container:hover {
  box-shadow: 0 0 5px white;
}

.nft-card {
  height: 100%;
  width: 100%;
  border-radius: 9px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nft-card:hover {
  transform: scale(1.2);
}

.nft-detail {
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  pointer-events: none;
}

#wallet_addr {
  margin-left: 10px;
}

#wallet_addr:hover {
  text-decoration: underline;
  text-shadow: 0 0 2px white;
}

#wallet_swap {
  min-width: 20px;
  font-weight: bold;
}

.token-card {
  cursor: pointer;
  transition: all 0.2s ease;
}

.token-card-body, .ns-card-body {
  pointer-events: none;
}


.txn-card {
  color: white;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bold;
}

.token-card:hover, .txn-card:hover, .ns-card:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px white;
}

.ns-card {
  width: 90%;
  margin-left: 5%;
}


#entropy_canvas {
  width: 80%;
  height: 200px;
  border: 2px solid rgba(0,0,0,0.8);
  border-radius: 9px;
}

.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

.key-output {
  font-size: 1rem !important;
}

.key-input {
  display: inline-block;
  max-width: 30%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 1rem !important;
  text-align: center;
  padding: 2px !important;
}

.card.active {
  box-shadow: 0 0 3px green;
}

.form-control.pin-control {
  width: 11%;
  text-align: center;
  height: 3rem;
  font-size: 2rem;
}


.btn .fi {
  float: left;
  margin-top: 2px;
}

.btn:hover {
  text-shadow: 0 0 2px white;
}

#progress {
  height: 3px;
  background: deepskyblue;
  width: 100%;
  transition-property: width;
  transition-timing-function: linear;
  transition-duration: 60s;
}

.twitter-link {
  color: cornflowerblue;
}
