/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* normalize css ends here */

html {
  font-family: Arial, sans-serif;
  color: #222;
}

body {
  width: 350px;
  height: 500px;
  font-size: 16px;

  background: #16181a;
  color: #fcfcfc;
}

.topnav {
  padding: 10px 10px 5px;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-direction: row;
  text-align: left;
  flex-wrap: nowrap;
  align-content: center;

  border-bottom: 2px solid #222222;
}

.topnav div {
  flex-grow: 1;
}

.app {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}

.container {
  padding: 20px;
}

.badge {
  border-radius: 27px;
  font-size: 0.7rem;
  line-height: 0.7rem;
  padding: 3px;
  width: fit-content;
  margin: auto;
}

.bg-primary {
  color: white;
  background: deepskyblue;
  font-weight: bold;
}

.bg-secondary {
  color: white;
  background: rgba(0,0,0,0.3);
  font-weight: bold;
}

.bg-danger {
  color: white;
  background: indianred;
  font-weight: bold;
}

.bg-warning {
  color: white;
  background: darkorange;
  font-weight: bold;
}

.trait {
  border: 1px solid white;
  border-radius: 7px;
  padding: 0.25rem;
}

.footer {
  border-top: 2px solid #222;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #16181a;
  color: white;
  text-align: center;
  padding: 10px;
}

.token-container {
  min-height: 50%;
  /*background: rgba(0, 0, 0, 0.15);*/
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.be-1 {
  border-right: 1px solid #222;
  cursor: pointer;
}

.footer-link * {
  pointer-events: none;
}

.footer-link {
  color: gray;
  font-weight: bold;
  transition: all 0.1s ease-out;
}

.footer-link:hover {
  color: white;
}


#app {
  padding: 10px;
  padding-bottom: 0;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-bottom: 45px;
}

#app::-webkit-scrollbar {
  display: none;
}

.login-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.connection_status {
  float: right;
  margin-right: 1em;
  font-weight: bold;
}

.token-img {
  max-width: 40px;
  /*max-height: 40px;*/
}

.nft-card-container, .plugin-card-container {
  position: relative;
  height: 150px;
  overflow: hidden;
  transition: all 0.2s ease;
}

.plugin-card-container {
  height: 100px;
}

.plugin-card-container .nft-card {
  transform: scale(1.1);
}

.nft-card-container:hover, .plugin-card-container:hover {
  box-shadow: 0 0 5px white;
}

.nft-card {
  height: 100%;
  width: 100%;
  border-radius: 9px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nft-card:hover {
  transform: scale(1.2);
}

.nft-detail {
  text-align: center;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  pointer-events: none;
}

#wallet_addr {
  margin-left: 10px;
}

#wallet_addr:hover {
  text-decoration: underline;
  text-shadow: 0 0 2px white;
}

#wallet_swap {
  min-width: 20px;
  font-weight: bold;
}

.token-card {
  cursor: pointer;
  transition: all 0.2s ease;
}

.token-card-body, .ns-card-body {
  pointer-events: none;
}


.txn-card {
  color: white;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bold;
}

.token-card:hover, .txn-card:hover, .ns-card:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px white;
}

.ns-card {
  width: 90%;
  margin-left: 5%;
}


#entropy_canvas {
  width: 80%;
  height: 200px;
  border: 2px solid rgba(0,0,0,0.8);
  border-radius: 9px;
}

.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

.key-output {
  font-size: 1rem !important;
}

.key-input {
  display: inline-block;
  max-width: 30%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 1rem !important;
  text-align: center;
  padding: 2px !important;
}

.card.active {
  box-shadow: 0 0 3px green;
}

.form-control.pin-control {
  width: 11%;
  text-align: center;
  height: 3rem;
  font-size: 2rem;
}


.btn .fi {
  float: left;
  margin-top: 2px;
}

.btn:hover {
  text-shadow: 0 0 2px white;
}

#progress {
  height: 3px;
  background: deepskyblue;
  width: 100%;
  transition-property: width;
  transition-timing-function: linear;
  transition-duration: 60s;
}

.twitter-link {
  color: deepskyblue;
}


.badge-container {
  pointer-events: none;
  position: absolute;
  top: 7%;
  left: 3%;
}

.pos-relative {
  position: relative !important;
}

.badge-container .badge {
  float: left;
  padding: 0.5rem;
  margin-left: 5px;
  text-transform: uppercase;
}


.select-indicator {
  padding: 0.25rem;
  position: absolute;
  top: 3%;
  left: 3%;
  background: deepskyblue;
  border-radius: 32px;
  width: 30px;
  height: 30px;
  line-height: 22px;
  border: 2px solid white;
  z-index: 3;
}


.slider-container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.slider-horizontal {
  width: fit-content;
  height: 160px;
  min-width: 100%;
  text-align: center;
}

.slider-horizontal > div {
  display: inline-block;
  width: 150px;
  height: 150px;
}



/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: unset;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

code.address {
  font-size: 0.7em;
}




#loading {
  opacity: 1;
  z-index: 99;
  transition: opacity 0.3s ease-in-out;

  font-size: 3rem;
}


.spinner {
  -webkit-animation: spin 3s infinite linear;
  animation: spin 3s infinite linear;
}

.social-container img, .social-container i {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.social-container img:hover, .social-container i:hover {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}


/**
 * Animations
 */

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

